{% extends 'base.html' %}
{% load static %}
{% block title %}
Cesmag Jobs | Registro de empresas
{% endblock %}

{% block css %}
<style>
.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("{% static '/assets/imgs/home/WorkBanner.jpg' %}");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h2 class="login-heading mb-4">Registrate como Empresa</h2>
                {% if error %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endif %}
                <!-- Registro de empresas -->
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-floating mb-3">
                    <input class="form-control" name="companyname" id="companyname" type="text" placeholder="companyname" data-sb-validations="required" />
                    <label for="companyname">Nombre empresa</label>
                    <div class="invalid-feedback" data-sb-feedback="companyname:required">Nombre de empresa es requerido.</div>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" name="countrycompany" id="countrycompany" type="text" placeholder="countrycompany" data-sb-validations="required" />
                    <label for="countrycompany">País empresa</label>
                    <div class="invalid-feedback" data-sb-feedback="countrycompany:required">País de empresa es requerido.</div>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" name="depcompany" id="depcompany" type="text" placeholder="depcompany" data-sb-validations="required" />
                    <label for="depcompany">Departamento empresa</label>
                    <div class="invalid-feedback" data-sb-feedback="depcompany:required">Departamento de empresa es requerido.</div>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" name="citycompany" id="citycompany" type="text" placeholder="citycompany" data-sb-validations="required" />
                    <label for="citycompany">Ciudad empresa</label>
                    <div class="invalid-feedback" data-sb-feedback="citycompany:required">Ciudad de empresa es requerido.</div>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" name="phonecompany" id="phonecompany" type="text" placeholder="phonecompany" data-sb-validations="required" />
                    <label for="phonecompany">Teléfono</label>
                    <div class="invalid-feedback" data-sb-feedback="phonecompany:required">Telefono es requerido.</div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Ingrese su contraseña">
                    <label for="floatingPassword">Contraseña</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="floatingInput" placeholder="Ingrese su email">
                    <label for="floatingInput">Correo electrónico</label>
                  </div>
                                  
                  <div class="d-grid">
                    <button type="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Registrarme</button>
                  <div class="text-center">
                    <p class="small">¿Ya tienes una cuenta?</p>
                    <a class="small" href="{% url 'login' %}">Ingresa aquí</a>
                  </div>
                  </div>

                </form>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}