{% extends 'base.html' %}
{% load static %}
{% block title %}
Cesmag Jobs | Ingreso de empresas
{% endblock %}

{% block css %}
<style>
.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("{% static '/assets/imgs/home/WorkBanner.jpg' %}");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h1 class="login-heading mb-4">¡Benvenido Empresari@!</h1>
                <!-- Sign In Form -->
                <form>
                    <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Ingrese su email">
                    <label for="floatingInput">Correo electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Ingrese su contraseña">
                    <label for="floatingPassword">Contraseña</label>
                    </div>                
                    <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Ingresar</button>
                    <div class="text-center">
                        <a class="small" href="#">¿No tienes una cuenta?</a>
                    </div>
                    </div>

                </form>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}